In [ ]:
import bq_helper

In [ ]:
accident = bq_helper.BigQueryHelper(active_project='bigquery-public-data',dataset_name='nhtsa_traffic_fatalities')
accident.list_tables()

In [ ]:
query = """
SELECT COUNT(consecutive_number),EXTRACT(DAYOFWEEK FROM timestamp_of_crash)
FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2015` 
GROUP BY EXTRACT(DAYOFWEEK FROM timestamp_of_crash)
ORDER BY COUNT(consecutive_number) desc
"""

accident_by_day = accident.query_to_pandas_safe(query)

In [ ]:
import matplotlib.pyplot as plt

plt.plot(accident_by_day.f0_)
plt.title("Number of Accidents by Rank of Day \n (Most to least dangerous)")

In [ ]:
print(accident_by_day)

In [ ]:
accident.head('accident_2015')

In [ ]:
query = """
SELECT COUNT(consecutive_number),EXTRACT(HOUR from timestamp_of_crash)
FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2015`
GROUP BY EXTRACT(HOUR from timestamp_of_crash)
ORDER BY COUNT(consecutive_number) desc
"""

accident_at_hours = accident.query_to_pandas_safe(query)
print(accident_at_hours)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(accident_at_hours.f0_)
plt.title('Number of Accident per hour')

In [38]:
accident.head('vehicle_2015',1)

   state_number            ...                   timestamp_of_crash
0             4            ...            2015-10-26 14:15:00+00:00

[1 rows x 115 columns]

In [42]:
query = """
SELECT COUNT(hit_and_run),registration_state_name FROM 
`bigquery-public-data.nhtsa_traffic_fatalities.vehicle_2015` where hit_and_run='Yes' 
GROUP BY registration_state_name
ORDER BY COUNT(hit_and_run) 
"""

accident.query_to_pandas_safe(query)

    f0_                            registration_state_name
0     1                               District of Columbia
1     1                              Other Foreign Country
2     1                                            Vermont
3     1                                     Not Applicable
4     1                                      New Hampshire
5     1                                             Hawaii
6     2                                            Montana
7     2                                             Alaska
8     3                                           Missouri
9     3                                      West Virginia
10    3  Other Registration (Includes Native American I...
11    3                                              Idaho
12    4                       Multiple State Registrations
13    5                                           Delaware
14    5                                              Maine
15    5                                               Utah
16    6                                           Nebraska
17    6                                          Minnesota
18    7                                             Oregon
19    8                                           Arkansas
20    8                                             Kansas
21   10                                         Washington
22   10                                        Mississippi
23   10                                        Connecticut
24   12                                         New Mexico
25   13                                           Kentucky
26   14                                           Oklahoma
27   15                                    No Registration
28   15                                           Virginia
29   15                                             Nevada
30   16                                     South Carolina
31   16                                      Massachusetts
32   17                                               Iowa
33   18                                               Ohio
34   19                                            Alabama
35   19                                           Maryland
36   19                                           Colorado
37   20                                            Indiana
38   21                                          Tennessee
39   22                                          Louisiana
40   24                                         New Jersey
41   24                                           Illinois
42   26                                       Pennsylvania
43   26                                            Georgia
44   29                                          Wisconsin
45   30                                     North Carolina
46   31                                            Arizona
47   33                                           Michigan
48   38                                           New York
49   86                                              Texas
50   96                                            Florida
51  155                                         California
52  834                                            Unknown