## Importing Libraries

In [339]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [340]:
os.chdir(os.getcwd())

df = pd.read_csv('train.csv')

In [341]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## Exploratory Data Analysis

In [342]:
df.shape

(614, 13)

In [343]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [344]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [345]:
tab = pd.crosstab(df.Loan_Status,columns=df.Dependents)
col = tab.sum(axis=0)
(tab/col)*100

Dependents           0          1          2         3+
Loan_Status
N            31.014493  35.294118  24.752475  35.294118
Y            68.985507  64.705882  75.247525  64.705882

## Imputing Values

In [346]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [347]:
print('No.of Male  = ',df.Gender[df.Gender == 'Male'].count())
print('No.of Femmale  = ',df.Gender[df.Gender == 'Female'].count())

No.of Male  =  489
No.of Femmale  =  112

In [348]:
df.Gender[df.Gender.isnull()] = 'Male'

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [349]:
print('No.of Yes  = ',df.Married[df.Married == 'Yes'].count())
print('No.of No  = ',df.Married[df.Married == 'No'].count())

No.of Yes  =  398
No.of No  =  213

In [350]:
df.Married[(df.Self_Employed == 'No') & (df.Married.isnull())] = 'No'

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [351]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [352]:
df.Dependents[df.Dependents.isnull()] = 2

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [353]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [354]:
display(df.Self_Employed[(df.Education =='Graduate') & (df.Self_Employed == 'Yes')].count())
display(df.Self_Employed[(df.Education =='Graduate') & (df.Self_Employed == 'No')].count())

display(df.Self_Employed[(df.Education =='Not Graduate') & (df.Self_Employed == 'Yes')].count())
display(df.Self_Employed[(df.Education =='Not Graduate') & (df.Self_Employed == 'No')].count())

65

389

17

111

In [355]:
df.Self_Employed[df.Self_Employed.isnull()]= 'No'

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [356]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [357]:
df.LoanAmount[df.LoanAmount.isnull()] = round(0.022 * (df.ApplicantIncome + df.CoapplicantIncome))

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [358]:
df.Loan_Amount_Term[df.Loan_Amount_Term.isnull()] = 360

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [359]:
df.Credit_History[(df.Property_Area == 'Urban') & (df.Loan_Status=='N')] = 1

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [360]:
df.Credit_History[(df.Property_Area == 'Urban') & (df.Loan_Status=='Y')] = 1

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [361]:
display(df.Property_Area[(df.Property_Area == 'Rural') & (df.Loan_Status=='Y')].count())
display(df.Property_Area[(df.Property_Area == 'Rural') & (df.Loan_Status=='N')].count())

110

69

In [362]:
display(df.Property_Area[(df.Property_Area == 'Semiurban') & (df.Loan_Status=='Y')].count())
display(df.Property_Area[(df.Property_Area == 'Semiurban') & (df.Loan_Status=='N')].count())

179

54

In [363]:
df.Credit_History[(df.Property_Area == 'Rural') & (df.Loan_Status=='N')] = 1

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [364]:
df.Credit_History[(df.Property_Area == 'Rural') & (df.Loan_Status=='Y')] = 1

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [365]:
df.Credit_History[(df.Property_Area == 'Semiurban') & (df.Loan_Status=='N')] = 1

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [366]:
df.Credit_History[(df.Property_Area == 'Semiurban') & (df.Loan_Status=='Y')] = 1

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [367]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

## Modeling

In [368]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,129.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [369]:
g1 = np.array(df.Gender)
g2 = []

for i in g1:
    if 'Male' in i:
        g2.append(1)
    else:
        g2.append(0)

df.Gender = g2

In [370]:
m1 = np.array(df.Married)
m2 = []

for i in m1:
    if 'Yes' in i:
        m2.append(1)
    else:
        m2.append(0)

df.Married = m2

In [371]:
e1 = np.array(df.Education)
e2 = []

for i in e1:
    if 'Graduate' in i:
        e2.append(1)
    else:
        e2.append(0)

df.Education = e2

In [372]:
se1 = np.array(df.Self_Employed)
se2 = []

for i in se1:
    if 'Yes' in i:
        se2.append(1)
    else:
        se2.append(0)

df.Self_Employed = se2

In [373]:
df = pd.get_dummies(df,columns=['Property_Area'])

In [374]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,LP001002,1,0,0,1,0,5849,0.0,129.0,360.0,1.0,Y,0,0,1
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,N,1,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,Y,0,0,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,Y,0,0,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,Y,0,0,1

In [381]:
x = df.iloc[:,[1,2,4,5,6,7,8,9,10,12,13,14]]
y = df.iloc[:,[11]]

In [382]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [383]:
model = LogisticRegression(random_state=0)
model.fit(x_train,y_train)

C:\Users\Shubham\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [384]:
y_pred = model.predict(x_test)

In [386]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[  3,  48],
       [  4, 130]], dtype=int64)

In [393]:
test = pd.read_csv('test.csv')

In [394]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [395]:
print('No.of Male  = ',test.Gender[test.Gender == 'Male'].count())
print('No.of Femmale  = ',test.Gender[test.Gender == 'Female'].count())

No.of Male  =  286
No.of Femmale  =  70

In [396]:
test.Gender[test.Gender.isnull()] = 'Male'

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [398]:
display(test.Self_Employed[(test.Education =='Graduate') & (test.Self_Employed == 'Yes')].count())
display(test.Self_Employed[(test.Education =='Graduate') & (test.Self_Employed == 'No')].count())

display(test.Self_Employed[(test.Education =='Not Graduate') & (test.Self_Employed == 'Yes')].count())
display(test.Self_Employed[(test.Education =='Not Graduate') & (test.Self_Employed == 'No')].count())

29

237

8

70

In [399]:
test.Self_Employed[test.Self_Employed.isnull()]= 'No'

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [400]:
test.LoanAmount[test.LoanAmount.isnull()] = round(0.022 * (test.ApplicantIncome + test.CoapplicantIncome))

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [402]:
test.Loan_Amount_Term[test.Loan_Amount_Term.isnull()] = 360

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [404]:
test.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           10
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
dtype: int64

In [412]:
display(test.Credit_History[(test.Property_Area == 'Semiurban') & test.Credit_History == 1].count())
display(test.Credit_History[(test.Property_Area == 'Semiurban') & test.Credit_History == 0].count())

display(test.Credit_History[(test.Property_Area == 'Urban') & test.Credit_History == 1].count())
display(test.Credit_History[(test.Property_Area == 'Urban') & test.Credit_History == 0].count())

display(test.Credit_History[(test.Property_Area == 'Rural') & test.Credit_History == 1].count())
display(test.Credit_History[(test.Property_Area == 'Rural') & test.Credit_History == 0].count())

84

254

112

226

83

255

In [413]:
test.Credit_History[test.Credit_History.isnull()] = 0

C:\Users\Shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [414]:
test.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           10
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [415]:
g1 = np.array(test.Gender)
g2 = []

for i in g1:
    if 'Male' in i:
        g2.append(1)
    else:
        g2.append(0)

test.Gender = g2        


m1 = np.array(test.Married)
m2 = []

for i in m1:
    if 'Yes' in i:
        m2.append(1)
    else:
        m2.append(0)

test.Married = m2    



e1 = np.array(test.Education)
e2 = []

for i in e1:
    if 'Graduate' in i:
        e2.append(1)
    else:
        e2.append(0)

test.Education = e2    


se1 = np.array(test.Self_Employed)
se2 = []

for i in se1:
    if 'Yes' in i:
        se2.append(1)
    else:
        se2.append(0)

test.Self_Employed = se2

In [416]:
test = pd.get_dummies(test,columns=['Property_Area'])

In [417]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,LP001015,1,1,0,1,0,5720,0,110.0,360.0,1.0,0,0,1
1,LP001022,1,1,1,1,0,3076,1500,126.0,360.0,1.0,0,0,1
2,LP001031,1,1,2,1,0,5000,1800,208.0,360.0,1.0,0,0,1
3,LP001035,1,1,2,1,0,2340,2546,100.0,360.0,0.0,0,0,1
4,LP001051,1,0,0,1,0,3276,0,78.0,360.0,1.0,0,0,1

In [425]:
test1 = test.drop(columns=['Loan_ID','Dependents'])
x = test1.iloc[:,:].values

In [427]:
y_pred = model.predict(x)
test['Loan_Status'] = y_pred

In [428]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status
0,LP001015,1,1,0,1,0,5720,0,110.0,360.0,1.0,0,0,1,Y
1,LP001022,1,1,1,1,0,3076,1500,126.0,360.0,1.0,0,0,1,Y
2,LP001031,1,1,2,1,0,5000,1800,208.0,360.0,1.0,0,0,1,Y
3,LP001035,1,1,2,1,0,2340,2546,100.0,360.0,0.0,0,0,1,Y
4,LP001051,1,0,0,1,0,3276,0,78.0,360.0,1.0,0,0,1,Y

In [429]:
writer = pd.ExcelWriter('predict.xlsx')
test.to_excel(writer)
writer.save()