In [229]:
import pandas as pd
import re

In [230]:
df = pd.read_csv('NaukriDataset.csv')

In [231]:
df.shape

(2704, 7)

In [232]:
df.drop_duplicates(keep='first',inplace=True)
df.reset_index(inplace=True)

In [233]:
df['index'] = df.index

In [234]:
df['role']=df['role'].map(lambda x:x.lower()).map(lambda x:x.replace('senior','sr.'))

In [235]:
df['role'][60:63]

60    work and settle as data analyst in poland
61                           sr. data scientist
62                        clinical data analyst
Name: role, dtype: object

In [236]:
df['role'].nunique()

1639

In [237]:
for i in range(len(df['role'])):
    if df['role'][i].find('(') != -1:
        df['role'][i] = df['role'][i].replace(df['role'][i][df['role'][i].find('('):df['role'][i].find(')')+1],' ')

C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [238]:
df['role'] = df['role'].map(lambda x:x.strip(' '))

In [239]:
df['role'].nunique()

1594

In [240]:
#df.to_csv('cleaned1.csv')

In [241]:
for i in range(len(df['role'])):
    if df['role'][i].find('/') != -1 or df['role'][i].find('&') != -1 or df['role'][i].find('and') != -1 & df['role'][i].find('-') != -1 or df['role'][i].find(',') != -1:
        if df['role'][i].find('scientist') != -1 & df['role'][i].find('machine') != -1 & df['role'][i].find('learning') != -1 : 
            df['role'][i] = 'data scientist'
        elif df['role'][i].find('scientist') != -1 & df['role'][i].find('analyst') != -1:
            df['role'][i] = 'data analyst'
        elif df['role'][i].find('scientist') != -1:
            df['role'][i] = 'data scientist'
        elif df['role'][i].find('analyst') != -1:
            df['role'][i] = 'data analyst'

C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [242]:
df['role'][1]

'data analyst'

In [243]:
df['role'].nunique()

904

In [244]:
for i in range(len(df['role'])):
    if df['role'][i].find('analyst') !=-1:
        df['role'][i]='data analyst'
    elif df['role'][i].find('scientist') !=-1:
        df['role'][i]='data scientist'
    elif df['role'][i].find('engineer') !=-1:
        df['role'][i]='data engineer'

C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [245]:
df['role'].nunique()

376

In [246]:
df['location'].nunique()
df['location']

0                                    Hyderabad
1       United States (U.S), Hong Kong, Canada
2                 Hong Kong, Canada, Singapore
3                                       Mumbai
4                                    Hyderabad
                         ...
2530                                     Noida
2531                                    Kanpur
2532                                   Gurgaon
2533                                    Satara
2534                                   Lucknow
Name: location, Length: 2535, dtype: object

In [247]:
for i in range(len(df['location'])):
    if df['location'][i].find('(') != -1:
        df['location'][i] = df['location'][i].replace(df['location'][i][df['location'][i].find('('):df['location'][i].find(')')+1],' ').strip(' ')

C:\Users\Shubham.k\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [248]:
df['location'].nunique()
df['location']

0                                Hyderabad
1       United States  , Hong Kong, Canada
2             Hong Kong, Canada, Singapore
3                                   Mumbai
4                                Hyderabad
                       ...
2530                                 Noida
2531                                Kanpur
2532                               Gurgaon
2533                                Satara
2534                               Lucknow
Name: location, Length: 2535, dtype: object

In [249]:
df[df['salary'] != 'Not disclosed'][['salary','location']]

                         salary                            location
1     25,00,000 - 37,50,000 PA.  United States  , Hong Kong, Canada
2     25,00,000 - 30,00,000 PA.        Hong Kong, Canada, Singapore
3       3,00,000 - 4,00,000 PA.                              Mumbai
14    15,00,000 - 20,00,000 PA.                           Hyderabad
15      2,25,000 - 3,00,000 PA.       Chennai, Bengaluru, Hyderabad
...                         ...                                 ...
2527    5,50,000 - 7,00,000 PA.                           Bengaluru
2528    5,50,000 - 7,00,000 PA.                           Bengaluru
2531    1,75,000 - 2,25,000 PA.                              Kanpur
2533  10,00,000 - 12,00,000 PA.                              Satara
2534  12,00,000 - 15,00,000 PA.                             Lucknow

[322 rows x 2 columns]

In [250]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [251]:
features = ['role','exp','location','req']

In [252]:
def combine_features(row):
    return row['role'] +" "+row['exp']+" "+row["location"]+" "+row["req"]

for feature in features:
    df[feature] = df[feature].fillna('')

In [253]:
df["combined_features"] = df.apply(combine_features,axis=1)

In [254]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combined_features"])

In [255]:
cosine_sim = cosine_similarity(count_matrix)

In [256]:
cosine_sim.shape

(2535, 2535)

In [259]:
def get_title_from_index(index):
    return df[df.index == index]["company"].values[0]
def get_index_from_title(title):
    return df[df.company == title]["index"].values[0]

company_name = "Hitachi ABB Power Grids"
company_index = get_index_from_title(company_name)
similar_profile =  list(enumerate(cosine_sim[company_index]))
sorted_similar_profile = sorted(similar_profile,key=lambda x:x[1],reverse=True)[1:]
i=0
print("Top 10 similar Profile to "+company_name+" are:\n")
for element in sorted_similar_profile:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>=10:
        break

Top 10 similar Profile to Hitachi ABB Power Grids are:

AARNA HR SOLUTIONS PVT. LTD.
Digi Verve Technologies Private Limited
Telstra ICC @Bangalore
CSG System International(India) Pvt Ltd
WENGER and WATSON INC.
WENGER and WATSON INC.
White Horse Manpower Consultancy Private Limited
TE Connectivity India Private Limited
Glassbeam, Inc
WENGER and WATSON INC.